{% extends "registration/base.html" %}
{% load i18n registration_bootstrap %}

{% block body %}
    <h3 class="white" style="margin-bottom: 20px">{% trans "Password change" %}</h3>
    {% if form.errors %}
            <div class="alert alert-danger">
            <p>{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
        </div>
    {% endif %}
    <div>
    <form action="" method="post" class="form-horizontal">{% csrf_token %}
            <div class="form-group {% if form.old_password.errors %}has-error{% endif %}">
                <div class="col-sm-12">
                    {{ form.old_password|add_attrs:'class=form-control form-white&placeholder=Old Password' }}
                    {% if form.email.errors %}
                        <span class='text-danger'>{{ form.old_password.errors|join:'<br />' }}</span>
                    {% endif %}
                    {% if form.old_password.help_text %}
                        <span class="help-block ">{{ form.old_password.help_text }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group {% if form.new_password1.errors %}has-error{% endif %}">
                <div class="col-sm-12">
                    {{ form.new_password1|add_attrs:'class=form-control form-white&placeholder=New Password' }}
                    {% if form.new_password1.errors %}
                        <span class='text-danger'>{{ form.new_password1.errors|join:'<br />' }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
                <div class="col-sm-12">
                    {{ form.new_password2|add_attrs:'class=form-control form-white&placeholder=New Password Repeat' }}
                    {% if form.new_password2.errors %}
                        <span class='text-danger'>{{ form.new_password2.errors|join:'<br />' }}</span>
                    {% endif %}
                </div>
            </div>
            {% if form.new_password1.help_text %}
                <span class="help-block ">{{ form.new_password1.help_text|safe }}</span>
            {% endif %}
{#            {% for field in form %}#}
{#                <h2>{{ field.name }}</h2>#}
{#                {% include 'registration/form_field.html' %}#}
{#            {% endfor %}#}
            <button type="submit" class="btn btn-submit" accesskey="Enter">{% trans 'Change my password' %}</button>
            <button type="reset" class="btn">{% trans 'Cancel' %}</button>
        <script type="text/javascript">
            $(function(){
                $(".alert-message").alert();
                $('#mainForm').submit(function(){
                    $('#submit').button('loading');
                })
            });
            document.forms[0].elements[2].focus();
        </script>
    </form>
    </div>
{% endblock %}