{% extends "registration/base.html" %}
{% load i18n registration_bootstrap %}

{% block body %}
    <h3 class="white" style="margin-bottom: 20px">{% trans "Password reset" %}</h3>
    <div class="content">
        {% if validlink %}
            {% if form.errors %}
                <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    <p>{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $(".alert-message").alert();
                        });
                    </script>
                </div>
            {% endif %}
            <form action="" method="post">{% csrf_token %}
                <fieldset>
                    <div class="clearfix">
                        <div class="input">
                            {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
                        </div>
                    </div>
                    <div class="form-group {% if form.new_password1.errors %}has-error{% endif %}">
                        <div class="col-sm-12">
                            {{ form.new_password1|add_attrs:'class=form-control form-white&placeholder=Password' }}
                            {% if form.new_password1.errors %}
                                <span class='text-danger'>{{ form.new_password1.errors|join:'<br />' }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group {% if form.new_password2.errors %}has-error{% endif %}">
                        <div class="col-sm-12">
                            {{ form.new_password2|add_attrs:'class=form-control form-white&placeholder=Repeat Password' }}
                            {% if form.new_password2.errors %}
                                <span class='text-danger'>{{ form.new_password2.errors|join:'<br />' }}</span>
                            {% endif %}
                        </div>
                    </div>

                    {% if form.new_password1.help_text %}
                        <span class="help-block ">{{ form.new_password1.help_text|safe }}</span>
                    {% endif %}

                    <button type="submit" class="btn btn-submit" accesskey="Enter">{% trans 'Change my password' %}</button>
                </fieldset>
                <script type="text/javascript">
                    document.forms[1].elements[2].focus();
                </script>
            </form>
        {% else %}
            <h3>{% trans 'Password reset unsuccessful' %}</h3>
            <p>
                {% trans "The password reset link was invalid, possibly because it has already been used or expired.  Please request a new password reset." %}
            </p>
        {% endif %}
    </div>
{% endblock %}