{#{% extends "registration/base.html" %}#}
{#{% load i18n registration_bootstrap %}#}
{##}
{#{% block body %}#}
{#    <h3 class="white" style="margin-bottom: 20px">{% trans "Password reset" %}</h3>#}
{#    {% if form.errors %}#}
{#        <div class="alert alert-danger">#}
{#            <p>{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>#}
{#        </div>#}
{#    {% endif %}#}
{#    <form action="" method="post" class="form-horizontal">{% csrf_token %}#}
{#        <fieldset>#}
{#            <div class="form-group {% if form.email.errors %}has-error{% endif %}">#}
{#                <div class="col-sm-12">#}
{#                    {{ form.email|add_attrs:'class=form-control form-white&placeholder=Email' }}#}
{#                    {% if form.email.errors %}#}
{#                        <span class='text-danger'>{{ form.email.errors|join:'<br />' }}</span>#}
{#                    {% endif %}#}
{#                    {% if form.email.help_text %}#}
{#                        <span class="help-block ">{{ form.email.help_text }}</span>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
{#            <button type="submit" class="btn btn-submit" accesskey="Enter">{% trans 'Reset my password...' %}</button>#}
{#        </fieldset>#}
{#    </form>#}
{#{% endblock %}#}

{#{% extends "core/includes/base_home.html" %}#}
{% load i18n static bootstrap humanize %}


{% block content_body %}
    <link rel="stylesheet" href="{% static 'front/css/login.css' %}">
    <div id="login" style="display: block;">

        <div id="container">
            <div class="form_wrap" id="form">
                <form role="form" id='loginform' action="{% url 'core:login' %}" method="post">
                    {% if form.errors %}
                        <div class='lf_line' style="color: #000;">
                            <span>Your username and password didn't match. <a href="{% url 'core:password_reset' %}" title="Reset My Password">Forgot my Password...</a> </span>
                        </div>
                    {% endif %}

                    {% if next %}
                        {% if user.is_authenticated %}
                            <p class='lf_line' style="color: #000;">Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
                        {% else %}
{#                            <p style="color: #000;">Please login to your dashboard.</p>#}
                        {% endif %}
                    {% endif %}

                    {% csrf_token %}


                    <div class="lf_head">
                        <div class="translate">Login to system</div>
                    </div>
                    <div class="lf_line">
                        <label for="user_lang" class="translate">Your language:</label>
                        <select id="user_lang"><option value="en">english</option></select>
                    </div>
                    <div class="lf_line">
                        <label for="id_username" class="translate">Username:</label>
                        {{ form.username }}
                        <p class="lf_line_italic translate">(for example: trump)</p>
                    </div>
                    <div class="lf_line">
                        <label for="id_password" class="translate">Password:</label>
                        {{ form.password }}<br>
                    </div>
                    <div class="lf_line captcha_">{{ form.captcha }}<br></div>
                    <div class="lf_line">
                        <button class="button_orange translate" id="do" title="Login">Login</button>
                    </div>

                    <div class="lf_line">
                        <p class="lf_line_italic">
                            <a href="#" id="recover" class="translate">Get a new password?</a>
                            <span class="translate">If you have forgotten your old password or login to PO first time</span>
                        </p>
                    </div>
                </form>
            </div>
        </div>

    </div>

        <style>
            .captcha_{float: right; margin-right: 40px;}
        </style>
{% endblock %}