<h1 style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 14pt; color: #3eb0f7'>PM Account Activation</h1>

<p style="font-family: sans-serif; font-size: 1em;">Hello,</p>
<p style="font-family: sans-serif; font-size: 1em;">
    This is a courtesy e-mail to let you know that ticket <i>Ticket</i> has been escalated automatically.
</p>
<p style="font-family: sans-serif; font-size: 1em;">
    <b>Ticket ID</b>: Ticket<br>
    <b>Queue</b>: Queue Title <br>
    <b>Title</b>:Ticket Title <br>
    <b>Opened</b>: Ticket Created Date<br>
    <b>Submitter</b>: Ticket Submitter<br>
    <b>Priority</b>: Ticket Priority<br>
    <b>Status</b>: Ticket Status <br>
    <b>Assigned to</b>: Ticket Assigned to <br>
    <b><a href='/'>View Online</a></b> to update this ticket (login required)
</p>
<p style="font-family: sans-serif; font-size: 1em;">Just for reference, the original ticket description was:</p>
<blockquote style="font-family: sans-serif; font-size: 1em;">Ticket Description </blockquote>

<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 11pt;'>Regards,</p>

<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 11pt;'><b>Some Title</b></p>
    
<p style='font-family: "Trebuchet MS", Arial, sans-serif; font-size: 9pt; color: #808080;' color='#808080'>This e-mail was sent to you as a user of our support PM service, in accordance with our privacy policy. Please advise us if you believe you have received this e-mail in error.</p>
