{% extends "core/includes/base.html" %}
{% load static i18n %}


{% block nav %}{% include "core/includes/nav.html" %}{% endblock %}

{% block content_body %}


    <div id="about" class="section-cotent" style="margin-top: 150px">
        <div class="title-container">
            <div class="title-section container">
                <h2>About Us</h2>
            </div>

        </div>
        <div class="container">
            <div class="title-section text-center">
                <h2>About Us</h2>
                <span></span>
            </div> <!-- /.title-section -->
            <div class="row">
                <h2 style="line-height: 800px;height: 800px;">Hello bbbbb</h2>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#about -->










                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">How do I provide help?</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body">
                                After registration,click on the provide help button and select the desired package. Confirm and wait to be matched with another member of the community who is eligible
                                to get help.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">How do I get help?</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body">
                                After providing help to another participant you will be automatically paired to get help within 5 to 14days after confirmation of your payment.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Why can't I see a get help button?</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body">
                                This is not necessary as get help is automatic.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">I provided help but I wasn't confirmed, what do I do?</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body">
                                When you provide help, you are required to upload a proof of payment, you will not be blocked if you do this, make sure the other participant is reachable before u
                                provide help and write to support if the other participant bluntly refuses to confirm the donation after receiving it.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">What happens if the participants assigned to me doesn't
                                    pay?</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body">
                                If the participant matched to you fails to pay within 24hrs, the system will remove and block the participant and automatically match another participant to pay you
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">The participant matched to pay me uploaded a fake proof of
                                    payment , what do i do:?</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body">
                                If this happens, a user can write to support immediately and after proper investigation it will be rectified. Confirm that the user did not make payment or the user has
                                declined to payment after uploading a proof before writing to support.
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">I do not use mobile banking , how do I participate on
                                    weekends?</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body">
                                It is advisable to use ATM transfers, or mobile and internet banking on weekends. users who do not use such methods of payment are advised to request to provide help
                                only on week days using bank deposit
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Is PM LEGAL?</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body">
                                PM is a community of mutual financial help and does not collect money from it's members, members freely help each other by donating a specific amount of their choice,
                                this is not illegal as giving a fellow participant financial assistance is not prohibited by international or local constitutions or legal systems.
                            </div>
                        </div>
                    </div>

{% endblock %}


{% block more_footer %}

{% endblock %}

</body>
</html>