{% load i18n bootstrap %}

<link rel="stylesheet" href="{% static 'bootstrap-fileinput/css/fileinput.min.css' %}"/>
<script src="{% static 'bootstrap-fileinput/js/fileinput.min.js' %}"></script>
<script>
    $(document).ready(function () {
        console.log("....")
    })
</script>

{% block ticketing_body %}
    <div class="box-header with-border">
        <h3 class="box-title">{% trans "Upload Proof of Payment" %}</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div><!-- /.box-tools -->
    </div>
    <!-- /.panel-heading -->
    <div class="box-body">
        <div class="panel-body">
            <form method='post' action='{% url "core:upload-proof" id %}' enctype='multipart/form-data' id="popForm" name="popForm">
                <fieldset>
                    {{ form|bootstrap }}
                    {% csrf_token %}
                    <div class='buttons form-group'>
                        <input type='submit' class="btn btn-primary" value='{% trans "Upload" %}'/>
                        <input type='reset' class="btn btn-default" value='{% trans "Cancel" %}'/>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}