{% extends "core/includes/base_back.html" %}
{% load static i18n %}

{% block content_body %}


    <div id="about" class="section-cotent">
        <div class="container">
            <div class="title-section text-center">
                <h2>DISCLAIMER</h2>
                <span></span>
            </div> <!-- /.title-section -->
            <div class="row" style="margin-bottom: 40px">
                <p>THIS SCHEME HAS NO SECURITY OR MONEY BACK GUARANTEE TERMS BUT IF WE WORK IN HONESTY, WE WILL ALL BE HAPPY.

                    EVERYONE HERE MUST BE 18 YEARS AND ABOVE AND MENTALLY FIT.

                    EVERYONE HERE IS BY CHOICE AND NOT UNDER ANY COMPULSION BY ANYONE.

                    THE ADMINS OR ANY MEMBER HERE IS NOT LIABLE FOR YOUR MONEY AS THE MONEY DOESN'T GO INTO A CENTRAL ACCOUNT.

                    YOU FULLY UNDERSTAND THE RISKS INVOLVED.

                    PLEASE, PH WITH YOUR SPARE MONEY ONLY.</p>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#about -->
    <div class="fb-comments" data-href="https://www.gmbenefit.org/warning.gmb" data-numposts="5"></div>
    <style>
        .breadcrumb {
            display: none;
        }

        .form-control {
            padding: 10px 15px;
        }
    </style>
{% endblock %}

{% block more_footer %}

{% endblock %}

</body>
</html>