{% load i18n static %}
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer__widgets">
            <div class="row">

                <div class="col-md-4">
                    <div class="widget widget__get-in-touch">
                        <h5 class="widget__title nocaps">Get in Touch</h5>
                        <p class="widget__get-in-touch__paragraph">Phone: 0703</p>
                        <p class="widget__get-in-touch__paragraph">Email: <a href="mailto:support@myhelpbox.com">support@myhelpbox.com</a></p>
                        <p class="widget__get-in-touch__paragraph">PH: 0803</p>
                    </div>
                </div> <!-- end stay in touch -->

                <div class="col-md-4">
                    <div class="widget widget__footer-logo text-center local-scroll">
                        <a href="#home" class="widget__footer-logo__link">
                            <img src="{% static 'front/img/logo_dark.png' %}" alt="">
                        </a>
                        <p class="mb-0">Millfunds is set to be unique and to bring back the lost fun and gain in ponzi... Obviously we miss the days when you made huge profits in a particular
                            merging time</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="widget footer-address-widget text-right">
                        <h5 class="widget__title nocaps">Location</h5>
                        <p class="footer-address">Mill Family.<br>West Africa, <br>Lagos, Nigeria</p>
                    </div>
                </div> <!-- end address -->

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12 text-sm-center">
                    <span class="copyright">&copy; 2017 Mill Funds | <a href="{% url 'core:index' %}">Millers Family</a></span>
                </div>

                <div class="col-sm-4 col-sm-offset-2 col-xs-12 text-right text-sm-center">
                    <div class="socials socials--nobase footer__socials clearfix">
                        <a href="https://t.me/millfunds" target="_blank"><i class="fa fa-telegram"></i></a>
                        <a href='https://chat.whatsapp.com/G4r0XCkNieH09DHD8IIeC8' target="_blank"><i class="fa fa-whatsapp"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div> <!-- end bottom footer -->
</footer> <!-- end footer -->

<div id="back-to-top">
    <a href="#top"><i class="fa fa-angle-up"></i></a>
</div>
